*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
    

}

#nav{
    height: 100px;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
}

#nav h3{
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
   
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav h1{
    font-weight: 500;
    font-size: 22px;
    
    text-transform: uppercase;
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
    /* background-color: #fff; */
}
/* #nav-part2{
    position: absolute;
    display: flex;
    top: 5%;
    left: 46%;
    gap: 2px;
} */
/* #ri-global-line{
   border-radius: 12px;
   color: red;
} */

#btn2{
    background-color: orangered;
    border: none;
    color: white;

}

#main>h1{
    /* color: red; */
    text-transform: uppercase;
    font-size: 130px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    /* object-position: top; */
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);

}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);

}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);

}

#btm-left{
    position: absolute;
    bottom: 3%;
    left: 3%;
    font-size: 20px;
}

#btm-right{
    position: absolute;
    bottom: 5%;
    right: 3%;
 
    /* gap: 5px; */
   
}

h5{
    position: absolute;
    bottom: 2%;
    right: 1%
}